# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Environments
.env
.venv/
*.egg-info/

# OS Files
.DS_Store

# Data
data/raw/*
data/processed/*
*.parquet
*.csv

# Streamlit
streamlit_app/__pycache__/

# Models
*.pkl
*.joblib

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/
venv/
